---
layout: default
owner_img1: /images/agata-1.JPG
owner_img2: /images/agata-christian-1.JPG
location_img: /images/eisdiele-2.JPG
images:
   header_img-1: /images/banner2.png
   header_img-2: /images/crepe.png
   section-1_img: /images/section1.jpeg
   section-2_img: /images/section2.jpeg
---

<section class="grid tall-100">
  
  <div class="col-4"></div>

  <div class="col-3_md-5"  >
    <div class="bg-image landscape coffee-img" data-aos="zoom-in" data-aos-duration="1000" style="background-image: url('{{page.images.header_img-1}}');"></div>
  </div>
  
  <div class="col-5_md-3"></div>
  
  <div class="col-3_md-4"  >
    <div data-aos="zoom-in" data-aos-duration="1000" class="bg-image portrait" style="background-image: url('{{page.images.header_img-2}}');"></div>
  </div>

  <div class="col-9-middle_md-8 parent padded">
    <img class="main-heading child tab-hide margin-t-1" src="/images/brisas-logo.png" alt=""> 
    <!-- <h1 class="main-heading child tab-hide">BRISAS. </h1> -->

    <div class="margin-b" >
        <img class="main-mob child tab-show margin-t-1" src="/images/brisas-logo.png" alt="">     
        <div  id="typed-strings">
            <h2 >Comidas caseras hechas con amor.</h2>
        </div>
        <h2 class="typed-mob"id="typed"></h2>
    
        <p>
            En Brisas, creemos en el poder de los alimentos frescos, balanceados y llenos de sabor, diseñados para hacerte sentir bien cada día. Nuestra misión es ofrecerte platos que no solo nutran tu cuerpo, sino que también llenen tu alma de alegría.
            <br>
            Descubre combinaciones únicas, ingredientes de alta calidad y opciones pensadas para todos los gustos. Porque comer rico y saludable es algo que puedes disfrutar todos los días. 
        </p>        
    <a href="#desayunos">&#8640; desayunos.</a> <br>
    <a href="#almuerzos">&#8640; almuerzos.</a> <br>
    <a href="#cenas">&#8640; cenas.</a>



    </div>

  </div>
</section>

<!-- Team section -->
<!--<section id="section-team" class="grid tall-70">

  <div class="col-3-middle_md-5_sm-12 padded" data-aos="fade-lft" data-aos-duration="1000">
    <span class="subtitle">We put love in every dish.</span>
    
    <div id="typed-strings-2">
        <h2>Our dream team.</h2>
    </div>
    <h2 id="typed-2"></h2>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque placeat nihil libero, assumenda quaerat officia, at obcaecati et, excepturi saepe dolore dignissimos id porro in soluta sapiente possimus ut a?</p>

    <a href="#">&#8640; meet us.</a>
  </div>

  <div   class="col-9_md-7_sm-12 bg-image border-l team-img " style="background-image: url('{{page.images.section-1_img}}');" data-aos="fade-lft" data-aos-duration="1000"></div>

</section>-->

 <!-- Location section -->
<!--<section class="grid tall-60">

    <div class="col-9_md-7 bg-image border-r mob-hide" style="background-image: url('{{page.images.section-2_img}}');"
        data-aos="fade-lfet" data-aos-duration="1000"></div>

    <div class="col-3-middle_md-5_sm-12 padded" data-aos="fade-lft" data-aos-duration="1000">
        <span class="subtitle">Feel at home.</span>
        <div id="typed-strings-3">
            <h2>Enjoy our Location.</h2>
        </div>
        <h2 id="typed-3"></h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque placeat nihil libero, assumenda quaerat
            officia, at obcaecati et, excepturi saepe dolore dignissimos id porro in soluta sapiente possimus ut a?</p>

        <a href="#footer">&#8640; find us.</a>
    </div>

    <div class="col-12 bg-image team-img mob-show" style="background-image: url('{{page.images.section-2_img}}');"
        data-aos="fade-lfet" data-aos-duration="1000"></div>


</section> -->

<!-- BREAKFAST Section -->
<section id="desayunos" class="padded menu grid-center" >
  <div class="col-12 center" >
      <p class="subtitle">Ya se te hizo agua en la boca?</p>
      <div id="typed-strings-4">
        <h2> Nuestro menu de desayunos. </h2>
    </div>      
      <!-- <p class="capped-width padded-r padded-l">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, ipsum nulla vel delectus cupiditate at architecto necessitatibus corporis recusandae ut neque id quae dolorum, maxime dolores eaque debitis dolor quod?</p> -->
  </div>
  <!-- First column  -->
  <div class="col-4_lg-6_sm-12 padded-2">
      <h3> Desayunos. </h3>
      <div class="grid">
      {% for item in site.data.desayunos.desayunos %}
          <div class="col-10-middle_sm-9 editable">
              <h4>{{item.nombre}}</h4>
              <p> {{item.des}} </p>
          </div>
          <div class="col-2-middle_sm-3 right editable">
              <span class="price">{{item.precio}}</span>
          </div>
      {% endfor %}

      {% for item in site.data.desayunos.extras %}
      <div class="col-10-middle_sm-9 editable">
        <h4>{{item.nombre}}</h4>
      </div>
      <div class="col-2-middle_sm-3 right editable">
        <span class="price">{{item.precio}}</span>
      </div>
      {% endfor %}
    </div>

  </div>

  <!-- Second column  -->
  <div class="col-4_lg-6_sm-12 padded-2 mob-padded-t-0">
      <h3> Bebidas calientes. </h3>
      <div class="grid padded-b">
        {% for item in site.data.desayunos.bebidascalientes %} 
            <div class="col-10_sm-9">
                <span> {{item.nombre}} </span>
             </div>
              <div class="col-2_sm-3 right ">
                  <span class="price ">{{item.precio}}</span>
              </div>
       {% endfor %}
      </div>
      <h3> Especialidades frías. </h3>
      <div class="grid padded-b">
        {% for item in site.data.desayunos.especialidadesfrias %} 
            <div class="col-10-middle_sm-9 padded-b-1">
              <span> {{item.nombre}} </span>
            </div>
            <div class="col-2_sm-3 right ">
                <span class="price">{{item.precio}}</span>
            </div>
        {% endfor %}
      </div>

      <h3> Smoothies. </h3>
      <div class="grid-middle">
        {% for item in site.data.desayunos.smoothies %} 
            <div class="col-10-middle_sm-9">
              <h4> {{item.nombre}} </h4>
              <p> {{item.des}}</p>
            </div>
            <div class="col-2-middle_sm-3 right ">
                <span class="price">{{item.precio}}</span>
            </div>
        {% endfor %}
      </div>


  </div>
  <div class="grid-left border-thick padded">
    <h3 class="col-12">El local</h3>
    <div class="col-10-middle_sm-9">
        <h4>Combo dulce</h4>
        <p>Dulce de zanahoria + café de tu elección</p>
    </div>
    <div class="col-2-middle_sm-3 right">
        <span class="precio">$5.00</span>
    </div>
    <div class="col-10-middle_sm-9">
        <h4>Combo salada</h4>
        <span>Tostado de jamón, queso y tomate + café de tu elección</span>
    </div>
    <div class="col-2-middle_sm-3 right">
        <span class="precio">$6.00</span>
    </div>
  </div>

</section>

<!-- LUNCH-->
<section id="almuerzos" class="padded menu grid-center" >
    <div class="col-8_md-12 center" >
        <span class="subtitle">Ya se te hizo agua en la boca?</span>
        <div id="typed-strings-4">
          <h2> Nuestro menu de almuerzos. </h2>
      </div>      
    </div>

    <div class="col-8_md-12 padded-2">
        <h3>Para todos los gustos. </h3>
        {% for item in site.data.almuerzos.clasicos %}
        <div class="grid margin-b">
            <div class="col-10-middle_sm-9">
                <h4>{{item.nombre}}</h4>
                <span> {{item.des}} </span>
            </div>
            <div class="col-2-middle_sm-3 right">
                <span class="price">{{item.precio}}</span>
            </div>

            {% for add in item.add %}
                <div class="col-10-middle_sm-9">
                    <span>{{add.des}}</span>
                </div>
                <div class="col-2-middle_sm-3 right">
                    <span class="price">{{add.precio}}</span>
                </div>
            {% endfor %}
        </div>
        {% endfor %}



        <h3> Bebidas. </h3>
        <div class="grid padded-b">
          {% for item in site.data.almuerzos.bebidas %} 
              <div class="col-10_sm-9">
                  <span> {{item.nombre}} </span>
               </div>
                <div class="col-2_sm-3 right ">
                    <span class="price ">{{item.precio}}</span>
                </div>
         {% endfor %}
        </div>
  
        <h3> Smoothies. </h3>
        <div class="grid-middle">
          {% for item in site.data.desayunos.smoothies %} 
              <div class="col-10-middle_sm-9">
                <h4> {{item.nombre}} </h4>
                <p> {{item.des}}</p>
              </div>
              <div class="col-2-middle_sm-3 right ">
                  <span class="price">{{item.precio}}</span>
              </div>
          {% endfor %}
        </div>
    </div>
  </section> 

<!-- CENAS-->
<section id="cenas" class="padded menu grid-center" >
    <div class="col-8_md-12 center" >
        <span class="subtitle">Ya se te hizo agua en la boca?</span>
        <div id="typed-strings-4">
          <h2> Nuestro menu de cena. </h2>
      </div>      
    </div>

    <div class="col-8_md-12 padded-2">
        <h3>Nuestras Picaditas y Entraditas. </h3>
        {% for item in site.data.cenas.picaditasentraditas %}
        <div class="grid margin-b">
            <div class="col-10-middle_sm-9">
                <h4>{{item.nombre}}</h4>
                <span> {{item.des}} </span>
            </div>
            <div class="col-2-middle_sm-3 right">
                <span class="price">{{item.precio}}</span>
            </div>

            {% for add in item.add %}
                <div class="col-10-middle_sm-9">
                    <span>{{add.des}}</span>
                </div>
                <div class="col-2-middle_sm-3 right">
                    <span class="price">{{add.precio}}</span>
                </div>
            {% endfor %}
        </div>
        {% endfor %}

        <h3>Nuestros Platos Principales. </h3>
        {% for item in site.data.cenas.clasicos %}
        <div class="grid margin-b">
            <div class="col-10-middle_sm-9">
                <h4>{{item.nombre}}</h4>
                <span> {{item.des}} </span>
            </div>
            <div class="col-2-middle_sm-3 right">
                <span class="price">{{item.precio}}</span>
            </div>

            {% for add in item.add %}
                <div class="col-10-middle_sm-9">
                    <span>{{add.des}}</span>
                </div>
                <div class="col-2-middle_sm-3 right">
                    <span class="price">{{add.precio}}</span>
                </div>
            {% endfor %}
        </div>
        {% endfor %}

        <h3> Bebidas. </h3>
        <div class="grid padded-b">
          {% for item in site.data.cenas.bebidas %} 
              <div class="col-10_sm-9">
                  <span> {{item.nombre}} </span>
               </div>
                <div class="col-2_sm-3 right ">
                    <span class="price ">{{item.precio}}</span>
                </div>
         {% endfor %}
        </div>
    </div>
  </section> 

<!-- about me -->
<section class="padded">
    <div class = "grid">
        <div class="col-3 tab-hide">
            <div class=" bg-image portrait" style="background-image: url('/images/chiara.png');"></div>
        </div>
        <div class="col-9-center_sm-12 padded-r padded-l tab-hide">
            <h2>Quien soy? </h2>
            <p>
             Soy Chiara, una apasionada de la cocina que encuentra inspiración en cada rincón del mundo. Mi amor por la gastronomía comenzó en casa, aprendiendo de mi mamá y mi abuela, y se ha enriquecido con experiencias en lugares como Vietnam, Tailandia, México, Australia y Europa. Aunque soy argentina, crecí en Alemania y siempre he estado en movimiento, absorbiendo las técnicas y sabores de las cocinas locales allá donde voy.
            </p>
            <p>Siempre he sentido una profunda pasión por los vegetales y por todo lo que nos brinda la naturaleza. Me encanta resaltar los sabores únicos de cada ingrediente, elevando sus cualidades y aprovechando al máximo lo que nos ofrecen. Creo en la alta calidad de los productos, la producción casera, la sencillez en los procesos y las combinaciones frescas que te inspiran a comer así todos los días.
            </p>
            <p>He tenido el honor de trabajar en un restaurante con dos estrellas Michelin y de cocinar en retiros de comida vegetariana, donde descubrí mi misión: transformar la comida saludable en una experiencia deliciosa.
            </p>
            <p>Cada plato que cocino es una oportunidad de compartir alegría, porque una buena comida siempre trae una sonrisa a las caras de mis amigos, mi familia y mis clientes. Al final, cocinar es mi lenguaje de amor. 💛
            </p>
        </div>

        <div class="col-12 tab-show padded">
            <h2>Quien soy? </h2>
            <div class=" bg-image portrait margin-b" style="background-image: url('/images/chiara.png');"></div>
            <p>
                Soy Chiara, una apasionada de la cocina que encuentra inspiración en cada rincón del mundo. Mi amor por la gastronomía comenzó en casa, aprendiendo de mi mamá y mi abuela, y se ha enriquecido con experiencias en lugares como Vietnam, Tailandia, México, Australia y Europa. Aunque soy argentina, crecí en Alemania y siempre he estado en movimiento, absorbiendo las técnicas y sabores de las cocinas locales allá donde voy.
               </p>
               <p>Siempre he sentido una profunda pasión por los vegetales y por todo lo que nos brinda la naturaleza. Me encanta resaltar los sabores únicos de cada ingrediente, elevando sus cualidades y aprovechando al máximo lo que nos ofrecen. Creo en la alta calidad de los productos, la producción casera, la sencillez en los procesos y las combinaciones frescas que te inspiran a comer así todos los días.
               </p>
               <p>He tenido el honor de trabajar en un restaurante con dos estrellas Michelin y de cocinar en retiros de comida vegetariana, donde descubrí mi misión: transformar la comida saludable en una experiencia deliciosa.
               </p>
               <p>Cada plato que cocino es una oportunidad de compartir alegría, porque una buena comida siempre trae una sonrisa a las caras de mis amigos, mi familia y mis clientes. Al final, cocinar es mi lenguaje de amor. 💛
               </p>
        </div>

    </div>

</section>
<!--Quote Section-->
<!-- <section class="padded parent grid big-text white-text border-b">

<div class="video-container">
    <video id="background-video" autoplay loop muted poster="coffee-video.mp4">
        <source src="coffee-video.mp4" type="video/mp4">
    </video>
</div>
<div class="col-5-middle quote-text left child">
    <div id="typed-strings-5">
        <span>Come by... <br> and try our coffee yourself.</span>
    </div>
    <span id="typed-5"></span>
</div>

</section> -->
