---
layout: default
owner_img1: /images/agata-1.JPG
owner_img2: /images/agata-christian-1.JPG
location_img: /images/eisdiele-2.JPG
images:
   header_img-1: /images/banner2.png
   header_img-2: /images/crepe.png
   section-1_img: /images/section1.jpeg
   section-2_img: /images/section2.jpeg
---

<section class="grid tall-100">
  
  <div class="col-4"></div>

  <div class="col-3_md-5"  >
    <div class="bg-image landscape coffee-img" data-aos="zoom-in" data-aos-duration="1000" style="background-image: url('{{page.images.header_img-1}}');"></div>
  </div>
  
  <div class="col-5_md-3"></div>
  
  <div class="col-3_md-4"  >
    <div data-aos="zoom-in" data-aos-duration="1000" class="bg-image portrait" style="background-image: url('{{page.images.header_img-2}}');"></div>
  </div>

  <div class="col-9-middle_md-8 parent padded">
    <img class="main-heading child tab-hide margin-t-1" src="/images/brisas-logo.png" alt=""> 
    <!-- <h1 class="main-heading child tab-hide">BRISAS. </h1> -->

    <div class="margin-b" >
        <img class="main-mob child tab-show margin-t-1" src="/images/brisas-logo.png" alt="">     
        <div  id="typed-strings">
            <h2 >Homemade food made with love.</h2>
        </div>
        <h2 class="typed-mob"id="typed"></h2>
        <p>
            At Brisas, we believe in the power of fresh, balanced, and flavorful food, designed to make you feel good every day. Our mission is to offer dishes that not only nourish your body but also fill your soul with joy.  
            <br>
            Discover unique combinations, high-quality ingredients, and options crafted for every taste. Because eating delicious and healthy meals is something you can enjoy every single day.  
        </p>      
    <a href="#desayunos">&#8640; breakfast.</a> <br>
    <a href="#almuerzos">&#8640; lunch.</a>

    </div>

  </div>
</section>

<!-- Team section -->
<!--<section id="section-team" class="grid tall-70">

  <div class="col-3-middle_md-5_sm-12 padded" data-aos="fade-lft" data-aos-duration="1000">
    <span class="subtitle">We put love in every dish.</span>
    
    <div id="typed-strings-2">
        <h2>Our dream team.</h2>
    </div>
    <h2 id="typed-2"></h2>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque placeat nihil libero, assumenda quaerat officia, at obcaecati et, excepturi saepe dolore dignissimos id porro in soluta sapiente possimus ut a?</p>

    <a href="#">&#8640; meet us.</a>
  </div>

  <div   class="col-9_md-7_sm-12 bg-image border-l team-img " style="background-image: url('{{page.images.section-1_img}}');" data-aos="fade-lft" data-aos-duration="1000"></div>

</section>-->

 <!-- Location section -->
<!--<section class="grid tall-60">

    <div class="col-9_md-7 bg-image border-r mob-hide" style="background-image: url('{{page.images.section-2_img}}');"
        data-aos="fade-lfet" data-aos-duration="1000"></div>

    <div class="col-3-middle_md-5_sm-12 padded" data-aos="fade-lft" data-aos-duration="1000">
        <span class="subtitle">Feel at home.</span>
        <div id="typed-strings-3">
            <h2>Enjoy our Location.</h2>
        </div>
        <h2 id="typed-3"></h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque placeat nihil libero, assumenda quaerat
            officia, at obcaecati et, excepturi saepe dolore dignissimos id porro in soluta sapiente possimus ut a?</p>

        <a href="#footer">&#8640; find us.</a>
    </div>

    <div class="col-12 bg-image team-img mob-show" style="background-image: url('{{page.images.section-2_img}}');"
        data-aos="fade-lfet" data-aos-duration="1000"></div>


</section> -->

<!-- BREAKFAST Section -->
<section id="desayunos" class="padded menu grid-center" >
  <div class="col-12 center" >
      <p class="subtitle">Is your mouth watering yet?</p>
      <div id="typed-strings-4">
        <h2> Our breakfast menu. </h2>
    </div>      
      <!-- <p class="capped-width padded-r padded-l">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, ipsum nulla vel delectus cupiditate at architecto necessitatibus corporis recusandae ut neque id quae dolorum, maxime dolores eaque debitis dolor quod?</p> -->
  </div>
  <!-- First column  -->
  <div class="col-4_lg-6_sm-12 padded-2">
      <h3> Breakfast. </h3>
      <div class="grid">
      {% for item in site.data.desayunos.desayunos %}
          <div class="col-10-middle_sm-9 editable">
              <h4>{{item.nombre-en}}</h4>
              <p> {{item.des-en}} </p>
          </div>
          <div class="col-2-middle_sm-3 right editable">
              <span class="price">{{item.precio}}</span>
          </div>
      {% endfor %}

      {% for item in site.data.desayunos.extras %}
      <div class="col-10-middle_sm-9 editable">
        <h4>{{item.nombre-en}}</h4>
      </div>
      <div class="col-2-middle_sm-3 right editable">
        <span class="price">{{item.precio}}</span>
      </div>
      {% endfor %}
    </div>

  </div>

  <!-- Second column  -->
  <div class="col-4_lg-6_sm-12 padded-2 mob-padded-t-0">
      <h3> Hot drinks. </h3>
      <div class="grid padded-b">
        {% for item in site.data.desayunos.bebidascalientes %} 
            <div class="col-10_sm-9">
                <span> {{item.nombre-en}} </span>
             </div>
              <div class="col-2_sm-3 right ">
                  <span class="price ">{{item.precio}}</span>
              </div>
       {% endfor %}
      </div>
      <h3> Cold specials. </h3>
      <div class="grid padded-b">
        {% for item in site.data.desayunos.especialidadesfrias %} 
            <div class="col-10-middle_sm-9 padded-b-1">
              <span> {{item.nombre-en}} </span>
            </div>
            <div class="col-2_sm-3 right ">
                <span class="price">{{item.precio}}</span>
            </div>
        {% endfor %}
      </div>

      <h3> Smoothies. </h3>
      <div class="grid-middle">
        {% for item in site.data.desayunos.smoothies %} 
            <div class="col-10-middle_sm-9">
              <h4> {{item.nombre-en}} </h4>
              <p> {{item.des-en}}</p>
            </div>
            <div class="col-2-middle_sm-3 right ">
                <span class="price">{{item.precio}}</span>
            </div>
        {% endfor %}
      </div>

      <div class="grid border-thick padded">
        <h3>The local</h3>
         <div class=" col-10-middle_sm-9">
            <h4>Sweet combo</h4>
            <p>Carrot cake + coffee of your choice</p>
            <h4>Salty combo</h4>
            <span>Toasted ham, cheese & tomato sandwich + coffee of your choice</span>

         </div>
         <div class="col-2-middle_sm-3 right">
            <span class="precio">$ 5.00</span>
         </div>
      </div>
  </div>
</section>

<!-- LUNCH Section -->
<section id="almuerzos" class="padded menu grid-center" >
    <div class="col-12 center" >
        <span class="subtitle">Is your mouth watering yet?</span>
        <div id="typed-strings-4">
          <h2>Our lunch menu.</h2>
      </div>      
        <!-- <p class="capped-width padded-r padded-l">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, ipsum nulla vel delectus cupiditate at architecto necessitatibus corporis recusandae ut neque id quae dolorum, maxime dolores eaque debitis dolor quod?</p> -->
    </div>
    <!-- First column  -->
    <div class="col-4_lg-6_sm-12 padded-2">
        <h3> Classics. </h3>
        {% for item in site.data.almuerzos.clasicos %}
        <div class="grid margin-b">
            <div class="col-10-middle_sm-9">
                <h4>{{item.nombre-en}}</h4>
                <span> {{item.des-en}} </span>
            </div>
            <div class="col-2-middle_sm-3 right">
                <span class="price">{{item.precio}}</span>
            </div>

            {% for add in item.add %}
                <div class="col-10-middle_sm-9">
                    <span>{{add.des-en}}</span>
                </div>
                <div class="col-2-middle_sm-3 right">
                    <span class="price">{{add.precio}}</span>
                </div>
            {% endfor %}
        </div>
        {% endfor %}

        <h3>Asian influence.</h3>
        {% for item in site.data.almuerzos.influenciaasiatica %}
        <div class="grid margin-b">
            <div class="col-10-middle_sm-9">
                <h4>{{item.nombre-en}}</h4>
                <span> {{item.des-en}} </span>
            </div>
            <div class="col-2-middle_sm-3 right">
                <span class="price">{{item.precio}}</span>
            </div>

            {% for add in item.add %}
                <div class="col-10-middle_sm-9">
                    <span>{{add.des}}</span>
                </div>
                <div class="col-2-middle_sm-3 right">
                    <span class="price">{{add.precio}}</span>
                </div>
            {% endfor %}
        </div>
        {% endfor %}

    </div>
  
    <!-- Second column  -->
    <div class="col-4_lg-6_sm-12 padded-2 mob-padded-t-0">
        <h3> Vegetarian & healthy options. </h3>
        {% for item in site.data.almuerzos.opcionesvegetarianas %}
        <div class="grid margin-b">
            <div class="col-10-middle_sm-9">
                <h4>{{item.nombre-en}}</h4>
                <span> {{item.des-en}} </span>
            </div>
            <div class="col-2-middle_sm-3 right">
                <span class="price">{{item.precio}}</span>
            </div>

            {% for add in item.add %}
                <div class="col-10-middle_sm-9">
                    <span>{{add.des-en}}</span>
                </div>
                <div class="col-2-middle_sm-3 right">
                    <span class="price">{{add.precio}}</span>
                </div>
            {% endfor %}
        </div>
        {% endfor %}

        <h3> Drinks. </h3>
        <div class="grid padded-b">
          {% for item in site.data.almuerzos.bebidas %} 
              <div class="col-10_sm-9">
                  <span> {{item.nombre-en}} </span>
               </div>
                <div class="col-2_sm-3 right ">
                    <span class="price ">{{item.precio}}</span>
                </div>
         {% endfor %}
        </div>
  
        <h3> Smoothies. </h3>
        <div class="grid-middle">
          {% for item in site.data.desayunos.smoothies %} 
              <div class="col-10-middle_sm-9">
                <h4> {{item.nombre-en}} </h4>
                <p> {{item.des-en}}</p>
              </div>
              <div class="col-2-middle_sm-3 right ">
                  <span class="price">{{item.precio}}</span>
              </div>
          {% endfor %}
        </div>
    </div>
  </section>

<!-- about me -->
<section class="padded">
    <div class = "grid">
        <div class="col-3 tab-hide">
            <div class=" bg-image portrait" style="background-image: url('/images/chiara.png');"></div>
        </div>
        <div class="col-9-center_sm-12 padded-r padded-l tab-hide">
            <h2>Who am I?</h2>
            <p>
            I’m Chiara, a passionate cook who finds inspiration in every corner of the world. My love for gastronomy began at home, learning from my mom and grandmother, and it has been enriched by experiences in places like Vietnam, Thailand, Mexico, Australia, and Europe. Although I’m Argentine, I grew up in Germany and have always been on the move, absorbing the techniques and flavors of local cuisines wherever I go.
            </p>
            <p>
            I’ve always had a deep passion for vegetables and everything nature provides us. I love highlighting the unique flavors of each ingredient, elevating their qualities, and making the most of what they offer. I believe in high-quality products, homemade production, simplicity in processes, and fresh combinations that inspire you to eat this way every day.
            </p>
            <p>
            I’ve had the honor of working in a two-Michelin-star restaurant and cooking at vegetarian food retreats, where I discovered my mission: to turn healthy food into a delicious experience.
            </p>
            <p>
            Every dish I cook is an opportunity to share joy because good food always brings a smile to the faces of my friends, family, and clients. In the end, cooking is my love language. 💛
            </p>
        </div>

        <div class="col-12 tab-show padded">
            <h2>Who am I?</h2>
            <div class=" bg-image portrait margin-b" style="background-image: url('/images/chiara.png');"></div>
            <p>
            I’m Chiara, a passionate cook who finds inspiration in every corner of the world. My love for gastronomy began at home, learning from my mom and grandmother, and it has been enriched by experiences in places like Vietnam, Thailand, Mexico, Australia, and Europe. Although I’m Argentine, I grew up in Germany and have always been on the move, absorbing the techniques and flavors of local cuisines wherever I go.
            </p>
            <p>
            I’ve always had a deep passion for vegetables and everything nature provides us. I love highlighting the unique flavors of each ingredient, elevating their qualities, and making the most of what they offer. I believe in high-quality products, homemade production, simplicity in processes, and fresh combinations that inspire you to eat this way every day.
            </p>
            <p>
            I’ve had the honor of working in a two-Michelin-star restaurant and cooking at vegetarian food retreats, where I discovered my mission: to turn healthy food into a delicious experience.
            </p>
            <p>
            Every dish I cook is an opportunity to share joy because good food always brings a smile to the faces of my friends, family, and clients. In the end, cooking is my love language. 💛
            </p>

    </div>

</section>
<!--Quote Section-->
<!-- <section class="padded parent grid big-text white-text border-b">

<div class="video-container">
    <video id="background-video" autoplay loop muted poster="coffee-video.mp4">
        <source src="coffee-video.mp4" type="video/mp4">
    </video>
</div>
<div class="col-5-middle quote-text left child">
    <div id="typed-strings-5">
        <span>Come by... <br> and try our coffee yourself.</span>
    </div>
    <span id="typed-5"></span>
</div>

</section> -->
