/*
Fonts:
    font-family: 'Dongle', sans-serif;

    font-family: 'Oswald', sans-serif;

    font-family: 'Playfair Display', serif;

    font-family: 'Roboto Condensed', sans-serif;

    font-family: 'Roboto Mono', monospace;

*/

/*Style Sheet*/ 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
img { max-width: 100%; }
  
/* Optional padding to override default gridlex columns */ 
[class*=col] { 
    padding: 0;
 }

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

section{
    border-bottom: 0.5px solid;
}

/* -------------------------Universal Styles & Utility Classes--------------------------------*/
/* Position classes */
.parent { position: relative; }
.child  { position: absolute; }

/* Padding Utility Classes */ 
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-bottom: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-bottom: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-bottom: 0; }

/* Margin Utility Classes */ 
.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }

/*Border utility classes */
.border-r {  border-right: 0.5px solid; }
.border-l {  border-left: 0.5px solid; }
.border-b {  border-bottom: 0.5px solid; }
.border-t {  border-top: 0.5px solid; }
.border   {  border: 0.5px solid; }
.border-n {  border: none; }
.border-thick { border: 2px solid;}

/*Minimum height classes*/
.tall-30{min-height: 30vh;}
.tall-50{min-height: 50vh;}
.tall-60{min-height: 60vh;}
.tall-70{min-height: 70vh;}
.tall-80{min-height: 80vh;}
.tall-90{min-height: 90vh;}
.tall-100{min-height: 100vh;}

.capped-width{
    max-width: 1000px;
    margin: auto;
}


/*Backgrounds & Images*/
.bg-featured { 
    background-color: rgb(60,60,60); 
    color: white;
}
.bg-white { background-color: white; }
  
.bg-image {
    /*background-color: grey; /* Set a fall-back color while images are loading */ 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
  
/* Aspect Ratios with percentage unit are only effective if the element (the <div>) is inside a parent container or column, it can't be applied to the column itself. */
.landscape     { padding-bottom: 66%;  }
.landscape-wide{ padding-bottom: 56%;  }
.portrait-tall { padding-bottom: 175%; }
.portrait      { padding-bottom: 125%; }
.square        { padding-bottom: 100%; }
.specific-ratio-48{padding-bottom: 114%}
  
  
/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }



/* Typography */
html, body{
    font-family: 'Poppins', sans-serif;
    color: #474942;
    background-color: hsl(28, 17%, 77%);

}

h1,h2,h3,h5,h6{
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: 'Roboto Mono', sans-serif;
}

h1{
    font-size: 5rem;
    letter-spacing: 0.01em;
}
h2, h3, h4{ text-transform: uppercase;
    font-family: 'Roboto Mono', sans-serif;
    font-family: 'Yeseva One', serif;
}
.main-heading{
    top: -150px;
    left: -110px;
    max-width: 700px;
}
.main-mob{
    top: -80px;
    left: -60px;
}

h2{
    min-height: 3rem;
    font-size: 2rem;
    color: white;
}

p{
    line-height: 1.5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;

}

.big-text {
    font-size: 4rem;
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
}
section.border-b{
    border-bottom: 0.5px solid rgb(60,60,60);;
}
.white-text { color: white; }

.subtitle { 
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Mono', sans-serif;

    font-weight: 200;

    text-transform: uppercase;
}

#typed-2,
#typed-3{
    min-height: 5.5rem;
}

.subtle { 
    font-size: 0.75rem;
    opacity: 0.7;
}

.right  { text-align: right; }
.left   { text-align: left; }
.center { text-align: center; }

a{ 
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid;
}

.down-arrow {
    position: absolute;
    left: 48%;
    bottom: 1rem;
    top: auto;
    width: 1.5rem;
    z-index: 3;
    font-weight: 700;
    border: none;
}

/* Header & Footer */
header{ 
    padding: 1% 5%;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
}

header a{
    border: none;
}
.dropdown a{
    border-bottom: 0.5px solid;
    cursor: pointer;
}
.dropdown a:hover{
    color: #cfc5bc;
}
.dropdown a:last-child{
    border-bottom: none;
}


header nav a,
footer nav a{
    padding: 1rem;
}
footer a{ 
    border: none;
}
footer a:hover{
    color: white;
}
.fab{
    display: block;
    font-size: 2.1rem;
    padding: 0.2rem;
}



header.onscroll{
    color:rgb(60, 60, 60);
    background-color: rgba(255, 255, 255, 0.3);
    transition: .5s;
}
#logo{ max-width: 130px;}
/* #logo.onscroll{
    display: none;
} */
/* #logo-heading{
    display: none;
}
#logo-heading.onscroll{
    display: block;    
} */

.hamburger-button{
    max-width: 3rem;
}
footer .logo{
    max-width: 140px;
}


/* Mobile Hamburger Menu*/
.hamburger-button {
    cursor: pointer;
    border: none;
    padding: 0 0.5rem;
    display: inline-block;
    font-weight: 200;
    right: 5%;
    top: 1.5rem;
    z-index: 4;
    transition: all 0.5s ease;
    font-size: 2.5rem;
    margin-top: -0.7rem;
    position: fixed;
}
  
.hamburger-button.active {
    color: rgb(60, 60, 60);
}
  
.mobile-menu {
    display: none; 
    background-color: white; 
    color: rgb(60, 60, 60);
    padding: 10%;
    position: fixed; 
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
}
  
.mobile-menu a{
    text-decoration: none; 
    width: max-content;
    padding: 5vh 5%;
    display: block;
    margin: auto;
}

.logo{
    padding-top: 2px;
}
.ref{
        display: block;
        margin: 0.75rem;
        text-align: center;
        border: 1px solid;
        padding: 0.5rem 2rem;
        border-radius: 10px;
}
/* Menu */
span{
    font-weight: 300;
    line-height: 1.5rem;
    padding-bottom: 1.7rem
}


/* Quote */
#background-video {
    width: 950px; 
    object-fit: cover;
} 
.quote-text{
    left: 800px;
}

/* Map */
iframe{ width: 100%; }

/* Responsive Design */

.tab-show { display: none; }
.mob-show { display: none; }

@media(max-width: 1024px){
    .hamburger-button{ 
        top: 0.5rem;
        margin-top: -0.2rem;}

    .tab-show{ display: block;}
    .tab-hide{ display: none ;}
    .main-heading{
        margin-top: -100px;
        margin-left: -100px;
    }

    .big-text{ font-size: 1rem;}

    h2{ font-size: 1.8rem;}

    #background-video { width: 700px;} 
    .quote-text {left: 512px;}
    .video-container {margin: auto;}

    .coffee-img { padding-bottom: 120%;}


    iframe{   max-height: 30vh;}
}

@media (max-width: 768px) {
    .tall-70 { min-height: 55vh;}
    .tall-60 { min-height: 45vh;}
    .hamburger-button{ 
        margin-top: -0.7rem;
    }

    h1{ font-size: 3.5rem;}

    
    .quote-text{ left: 300px;}
    #background-video { width: 550px;} 

}

@media (max-width: 600px) {

    .mob-show{ display: block;}
    .mob-hide{ display: none ;}
    
    h1{ font-size: 3rem;}
    .main-heading{
        margin-top: -60px;
        margin-left: -60px;
        line-height: 1;
        margin-bottom: 2rem;        
    }

    #typed-2, #typed-3 { min-height: 3rem;}

    .square { padding-bottom: 165%;}
    .team-img { min-height: 300px;}

    
    #background-video { width: 100%;} 
    .quote-text {left: 212px;}
}

@media (max-width: 400px){
    h1{ font-size: 2.5rem;}
    h2{ 
        font-size: 1.5rem;
        min-height: 5.5rem;
        margin-bottom: 0;
    }
    .main-heading{
        margin-top: -60px;
        margin-left: -60px;
        line-height: 1;
        margin-bottom: 2rem;        
    }
}

