<!--Banner Video-->
<section class="grid-center tall-100">
    <video id="background-video" autoplay loop muted poster="/videos/icemaker.mp4">
      <source src="/videos/icemaker.mp4" type="video/mp4">
    </video>
    <div class="col-10-middle editable padded-t center white-text">
        <h1 class="editable big-text">Willkommen bei der Eisdiele Fontana in Aschheim!</h1>
        <span class="subheading">Wir verkaufen nicht nur Eis, wir verkaufen Glücklichkeit&#160; <i class="fas fa-heart"></i> <br> </span>
        <span class="subheading">Wir freuen uns auf Ihren Besuch!   </span>
    </div>  
    
    <div class="white-text right ">
        <span class="handwriting right">Ágata & Christian</span>
    </div>

    <a class="down-arrow" href="#aktuelles">
        <img src="/down-arrow-white.svg?_cchid=1d81444717b67f4de5a5fd0da103e237" data-cms-original-src="down-arrow-white.svg">
    </a>
</section>