             
<footer id="footer" class="grid-center padded">
    <div class="col-5-middle_sm-12 center padded-b">
      <div class="col-12-left">
          <span class="subtitle">We're busy.</span>
          <h3>Reserve a table right away!</h3>
          <p>
            <a href="tel:000">089 101010 99</a>
            <br>
            <a href="mailto:#@test.com">info@theburrowcoffeeshop.de</a>
            <br>
            <br>
            Stieglmaierplatz 909
            <br>
            80698 München
        </p>
      </div>
      <div class="col-12 grid-center-middle">
        <img class="logo col" src="/logo-theburrow.png" alt="">
        <div class="col-1 padded-1 social-nav">
          
          <a href="https://www.facebook.com">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="https://www.instagram.com">
            <i class="fab fa-instagram"></i>
          </a>
        
        </div>

      </div>
    </div>

    <div class="col-7_sm-12-middle">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.0467018164927!2d11.554804715818495!3d48.14790485842035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e75e3229d0817%3A0x47ed79462379774f!2sStiglmaierplatz!5e0!3m2!1ses!2sbr!4v1643044641796!5m2!1ses!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    </div>
</footer>

<section class="white-text border-n">
    <div class="grid-center subtle padded-1 padded-l center">
      <span class="col-right_md-12">Template designed by Chiara Müller , Images are from unsplash.com, Videos are from pexels.com </span>
    </div>
</section>
  