             
<footer class="grid white-text">
    <!-- column -->
    <div class="col-5_sm-12 padded padded-b-1">
      <h2 class="logo"> Eisdiele Fontana Aschheim </h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="col-1 sm-hidden"></div>
    <!-- column -->
    <div class="col-6_sm-12-middle padded right padded-b-1">
      <nav class="inline">
        <a href="#"> Lorem ipsum </a>|
        <a href="#"> Dolor sit </a>|
        <a href="#"> Consectetur </a>
      </nav>
      <nav class="inline socials">
        <a href="https://www.facebook.com/Eisdielefontana">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://www.instagram.com/eisdielefontana/">
          <i class="fab fa-instagram"></i>
        </a>
      </nav>
    </div>
  </footer>
  <section class="white-text">
    <div class="grid-left subtle padded-1 padded-l center">
      <span class="col-right_md-12"><i class="far fa-copyright"></i> Copyright 2022, Website designed by Chiara Müller </span>
    </div>
  </section>
  