             
<footer class="grid">
    <div class="col-5">
      <div class="col-12">
        <span class="subtitle">Reservier gleich 'nen Tisch</span>
        <span>089 101010 999 <br></span>
        <span>Stieglmaierplatz 909</span>
      </div>
      <div class="logo">The Burrow Coffeeshop</div>
    </div>

    <div class="padded col-7_sm-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1330.4306440603239!2d11.716111645507814!3d48.17075461703294!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd5269af0eb6d037!2sEisdiele%20Fontana%20Moraitini%20%26%20Guntin%20GbR!5e0!3m2!1sde!2sde!4v1639325354026!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    </div>
  
  </footer>
  <section class="white-text">
    <div class="grid-left subtle padded-1 padded-l center">
      <span class="col-right_md-12">Template designed by Chiara Müller </span>
    </div>
</section>
  