<header class="grid">
  <div class="col-4-middle_md-12 grid">
    <div class="col-3">
      <img src="/images/BRISASlogo.png" id="logo" alt="">
  </div>
    <div class="col-9-middle grid-center">
     <!-- <span>ENGLISH VERSION BELOW</span>-->
    </div>
  </div>
</header>

<!-- 
<header class="grid ">
    <div class="col-4-middle_md-12">
      <a href="#">
        <h4 id="logo-heading"> the burrow <br> coffeeshop </h4>
        <img id="logo" src="logo-theburrow.png" alt="">
      </a>
    </div>

    <div class="col-8-middle right" >  
    <div class="hamburger-button">
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.3 35.1"><path d="M0 16h74.3v3H0zM0 0h37.1v3H0zM37.1 32.1h37.1v3H37.1z"></path></svg>    </div>
    </div>


    <div class="mobile-menu">
      <div class="dropdown">
        <a id="dd-menu"> Menu </a>
        <a id="dd-team" > About us </a>
        <a id="dd-contact"> Contact </a>
    </div>
  </header> -->
