<section id="map" class="grid padded bg-white">
    <div class="col-6_sm-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1330.4306440603239!2d11.716111645507814!3d48.17075461703294!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd5269af0eb6d037!2sEisdiele%20Fontana%20Moraitini%20%26%20Guntin%20GbR!5e0!3m2!1sde!2sde!4v1639325354026!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    </div>
    <div class="col-6_sm-12-middle padded">
      <h2 class="editable"> Wo ihr uns findet </h2>
      <p class="editable padded-b-2"> Wir freuen uns, wenn Ihr bei uns vorbeischaut! ...und erst Recht, wenn ihr uns eine Bewertung bei <a href="https://www.google.com/search?hl=de-DE&gl=de&q=Eisdiele+Fontana+Moraitini+%26+Guntin+GbR,+Feldkirchner+Str.+2,+85609+Aschheim&ludocid=959945871170392119&lsig=AB86z5XeRtqmgGLlzTdRjs4BWncE&hl=de&gl=DE#lrd=0x479e0b089c464f41:0xd5269af0eb6d037,3,,,">Google</a> hinterlässt! :)</p>
      <p> <strong> Adresse: </strong> Feldkirchner Str. 2, 85609 Aschheim, Deutschland </p>
      <p> <strong> Email: </strong> <a href="mailto:eisdielefontana@gmail.com">eisdielefontana@gmail.com</a></p>
      <p> <strong> Telefon: </strong> +49 89 99176874</p>
    </div>
  </section>
  